<div class="container">
  <footer>
    <hr>
    <nav class="navbar">
      <a href="#home" class="active" routerLink="/Home" routerLinkActive="is-active">Home</a>
      <a href="#news" routerLink="/About-us" routerLinkActive="is-active">About Us</a>
      <a href="#news" routerLink="/Contact-us" routerLinkActive="is-active">Contact Us</a>
      <a href="#news" routerLink="/Policy" routerLinkActive="is-active">Privacy Policy</a>
      <a href="#contact" routerLink="/Disclaimer" routerLinkActive="is-active">Disclaimer</a>
    </nav>
  </footer>
</div>