<div class="container mt-5">
  <h3>
    PRIVACY POLICY OF DARK SIDE
  </h3>
  <p>
      Haven’t we all wondered where we could get our favourite celebrity or fashion icons’ latest looks? Sure, they have
      an entourage of personal stylists, makeup artists and hair dressers to look the way they do but with Dark Side, you
      will understand that you do not have to spend a fortune to look great. There is something for the whole family and
      you can engage in online shopping for women, men and kids. Choose from the widest spread of western wear,
      traditional clothing, casual wear, lounge or sleep wear, sports or active wear, formal wear, lingerie and more in
      the clothing section. Footwear of numerous kinds, watches, sunglasses, bags, jewellery, scarves and stoles, beauty,
      skin and hair care products, fragrances, and so much more are just some of the other items you can grab hold of
      here.
  </p>
</div>