.container-fluid{
    background-color: #0AA0CB;
    padding: 10px 5px;
}
#logo{
    width: 145px;
    height: 39px;
    background: url(../../../assets/Images/sprite.png) 0 0;
}
.table , .close{
    color: #ffffff;
}
.cart{
    background-color: #045166;
    border-radius: 10px;
    display: inline-block;
}
#cartImg{
    width: 25px;
    height: 25px;
    background: url(../../../assets/Images/sprite.png) -70px 42px;
    margin: 0px;
    display: inline-block;
}
.cart #txt{
    margin: 3px 0px 0px 10px;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
}
#dialogBox{
    position: absolute;
    z-index: 2;
    background-color: #045166;
    color: #ffffff;
    padding: 15px;
    top: 50px;
    width:700px;
    right: 20px;
}
.cartHeight{
    height: 250px;
    overflow-y: auto;

}
.navbar{
    padding: 0px;
}
.navbar-nav{
    margin: 5px;
}
 .navbar-nav li{
    background-color: #087D9E;
    padding: 5px 53px;
    margin-right: 2px;
 }
 .navbar-nav li:hover{
     background-color: #4d684f;
 }
 .navbar-nav li.active {
	background-color: #4d684f;
	color: #fff;
}
 /* .navbar-nav li.active{
    background-color: #4d684f;
} */
/* a:active{
    color: #4d684f;
    background-color: #4d684f;
} */
nav .navbar-nav li a{
    color: white;
    }

@media (max-width: 576px) {
    .cart #txt{
         display: none;
    }
    .cart{
        float: right;
    }
    #dialogBox{
        width: 341px;
        right: -80px;
    }
    .cartHeight{
        height: 260px;
        overflow-y: auto;
    }
    
}
@media (min-width: 576px) and (max-width: 767px) {
    .cart #txt{
        font-size: 13px;
        margin-left: 5px;
    }
    .navbar-nav li{
        padding: 2px 13px;
        margin-right: 1px;
        font-size: 11px;
     }
     #dialogBox{
        width:450px;
    }
    .cartHeight{
        height: 260px;
        overflow-y: auto;
    }
     
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .cart #txt{
        font-size: 13px;
        margin-left: 7px;
    }
    .navbar-nav li{
        padding: 2px 28px;
        margin-right: 1px;
        font-size: 11px;
     }
    #dialogBox{
        width:545px;;
    }
    .cartHeight{
        height: 260px;
        overflow-y: auto;
    }
     
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar-nav li{
        padding: 5px 46px;
        margin-right: 2px;
        font-size: 12px;
     }
    #dialogBox{
        width: 700px;
    }
    .cartHeight{
        height: 260px;
        overflow-y: auto;
    }
}